<!DOCTYPE html>
<html>
  <head>
    <title>Know the Weather Bud</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .header,
      .footer {
        background-color: #f8f9fa;
        padding: 10px;
        text-align: center;
      }
      .content {
        padding: 20px;
      }
    </style>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div class="header">{% block header %} Header content {% endblock %}</div>

    <div class="content">{% block content %} Main content {% endblock %}</div>

    <div class="footer">{% block footer %} Footer content {% endblock %}</div>
  </body>
</html>
